.main-container {
    max-width: 906px;
    margin: 0 auto;
}


.main-row {
    display: flex;
    justify-content: space-between;
    gap: 65px;
    margin-bottom: 130px;
    flex-wrap: wrap;
}

.main-card {
    flex: 1 1 0;
    max-width: calc(50%-31px);
}

.main_card--lifestyle {
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    color: var(--greyBeige);
    margin-top: 62px;
    margin-bottom: 32px;
}

.main_card--title {
    font-family: Playfair Display;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: var(--darkGray);
    margin-bottom: 40px;
}
.main_card--text {
    font-family: Playfair Display;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: var(--darkGray);
    max-width: 420px;
}
